.headingDiv {
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #ff7d00 ;
}
@media  (max-width: 500px) {
    .heading {
        text-align: center;
    }
}