.container {
 width: 100%;
 height: fit-content;
 display: grid;
 grid-template-columns: 1fr 9fr;
 height: fit-content;
 grid-gap: 10px;
 margin-bottom: 20px;
}

.iconContainer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.icon {
    background-color: orange;
    font-size: 1.5rem;
    padding: 10px 12px;
    height: fit-content;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    height: fit-content;
}
